{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Title      : Eclipse
Version    : 1.0
Released   : 20070415
Description: A two-column fixed-width with dark eerie look and feel suitable for personal blogs and organization sites.

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Eclipse by Free Css Templates</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="{% static 'default.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="logo">
	<div class="text-block">
	<h1><a href="#">Eclipse</a></h1>
	<h2><a href="http://www.freecsstemplates.org/">By Free CSS Templates</a></h2>
</div>
<div id="menu">

</div>
<!-- end #menu -->
<div id="page">
	
	<!-- end #content -->
	{% block content %}
	{% endblock content %}
		<!-- end #login -->
		<div class="boxed">
			
		</div>
	</div>
	<!-- end #sidebar -->
	<div id="extra" style="clear: both;">&nbsp;</div>
</div>


</html>
